<!-- <div class="logo"></div> -->

<div id="login-box">
    <div id="username">
        <input #newUsername (keyup.enter)='true' type='text' placeholder="User Name" class="input"/>
    </div>
    <div id="password">
        <input #newPassword (keyup.enter)='true' type='text' placeholder="Password" class="input"/>
    </div>
    <div id="sign_in-button">
        <button (click)='true' mat-raised-button class="sign-in">Sign In</button>
    </div>
    <div id="signup-box">
        <br>
        <br>
        <button (click)='true' class="sign-up">sign Up</button>
    </div>
</div>

