/* .logo{
    background-image: url("/assets/Yellow\ Splat\ Children\ &\ Kids\ Logo\ \(1\).png");
    position: absolute;
    left: -10px; 
    top: auto;

} */

#login-box {
    background-color: #70DADF; 
    height: 350px;
    width: 30vh;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 100px 75px;
    box-shadow: 10px 10px grey;
}


.input{
    text-align: center;
}
