.image{
    background-image: url("/assets/whitespace-notebook.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 1rem;
}

h1{
    color: black;
    text-align: center;
    font-size: 10vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0%;
    font-weight: 1500;
}

h4{
    text-align: center;

}

.button{
    align-content: center;
}