body{
    background-image: url("/assets/Cream\ and\ Brown\ Modern\ Quiz\ Education\ Presentation\ \(1\).png ");
    height: 100vh;
    /* margin-left: 170px; */
    background-size: contain;
    background-repeat: no-repeat;    
}
