.logo{

    background-image: url("/assets/Yellow\ Splat\ Children\ &\ Kids\ Logo\ \(1\).png");
    height: 100vh;
    background-size: 50%;
    background-repeat: no-repeat;
    justify-content: right;
    margin-left: 30%;
    margin-bottom: 0%;
}

